{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/logindesign.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/notif.css' %}"
    />
    <!-- jQuery Script -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>

    <title>Forgot Password</title>
  </head>

  <style>
    input[type="submit"] {
      width: auto;
    }
  </style>
  <body>
    <div class="container">
      <div class="content">
        <img src="{%static 'img/logo.png'%}" alt="logo" />
        <div class="box">
          <form id="forgotpass-form" autocomplete="off">
            {% csrf_token %}
            <h2>Forgot Password</h2>
            <div class="inputBox">
              <input type="text" name="email" id="email" required />
              <span>Email</span>
              <i></i>
            </div>
            <div class="links">
              <a href="{% url 'LogIn' %}">Return to Sign In</a>
            </div>
            <input type="submit" value="Send Password Reset Link" />
          </form>
        </div>
      </div>
    </div>

    <div class="error-alert alert hide">
      <span class="fas fa-exclamation-circle"></span>
      <span class="msg" id="error-message">ERROR</span>
      <div class="close-btn">
        <span class="fas fa-times"></span>
      </div>
    </div>

    <div class="success-alert alert hide">
      <span class="fas fa-check-circle"></span>
      <span class="msg" id="success-message">SUCCESS</span>
      <div class="close-btn">
        <span class="fas fa-times"></span>
      </div>
    </div>

    <script>
      $(document).on("submit", "#forgotpass-form", function (e) {
        e.preventDefault();

        $.ajax({
          type: "POST",
          url: '{% url "send_forgot_pass" %}',
          data: {
            email: $("#email").val(),
            csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
          },
          success: function (response) {
            console.log(response);
            handleResponse(response);
          },
          error: function (error) {
            console.log(error);
            handleError(error);
          },
        });
      });

      function handleResponse(response) {
        if (response.authenticated) {
          $("#success-message").text(response.success_message);
          $(".success-alert").addClass("show");
          $(".success-alert").removeClass("hide");
          $(".success-alert").addClass("showAlert");
          setTimeout(function () {
            $(".success-alert").removeClass("show");
            $(".success-alert").addClass("hide");
          }, 5000);
        } else {
          $("#error-message").text(response.error_message);
          $(".error-alert").addClass("show");
          $(".error-alert").removeClass("hide");
          $(".error-alert").addClass("showAlert");
          setTimeout(function () {
            $(".error-alert").removeClass("show");
            $(".error-alert").addClass("hide");
          }, 5000);
        }
      }

      function handleError(error) {
        if (error.status === 400) {
          var response = error.responseJSON;
          if (
            response &&
            response.authenticated === false &&
            response.error_message
          ) {
            console.error("Error:", response.error_message);
            $("#error-message").text(response.error_message);
            $(".error-alert").addClass("show");
            $(".error-alert").removeClass("hide");
            $(".error-alert").addClass("showAlert");
            setTimeout(function () {
              $(".error-alert").removeClass("show");
              $(".error-alert").addClass("hide");
            }, 5000);
          } else {
            console.error("Unexpected Error:", error.responseText);
          }
        } else {
          console.error("Unexpected Error:", error.responseText);
        }
      }

      $(".close-btn").click(function () {
        $(".alert").removeClass("show");
        $(".alert").addClass("hide");
      });
    </script>
  </body>
</html>
