@media screen and (max-width: 1200px) {
  main .insights {
    grid-template-columns: 1fr;
    gap: 0;
  }
  main .recent-orders {
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0 0 8.8rem;
  }
  main .recent-orders table {
    width: 83vw;
  }
}

@media screen and (max-width: 768px) {
  .dashboardColumn {
    width: 100%;
    grid-template-columns: 1fr;
  }
}
