.transDetails {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
  background-color: var(--color-background);
  border: 3px solid var(--color-dark);
  border-radius: var(--border-radius-1);
  padding: 15px;
  display: none;
}

.reportTables button {
  padding: 10px;
  background-color: var(--color-white);
  color: var(--color-dark);
  cursor: pointer;
}

.closeButton {
  float: right;
  background-color: var(--color-background);
  color: var(--color-dark);
  cursor: pointer;
}

.transDetails table {
  background: var(--color-white);
  width: 100%;
  padding: var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
  border-radius: var(--border-radius-1);
}

.transDetails table tbody td {
  height: 2.8rem;
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark-variant);
}

.tableFixHead {
  overflow-y: auto;
  height: 30rem;
  margin-right: 10px;
}

.TableContents img {
  object-fit: cover;
  height: 5rem;
  width: 5rem;
  display: block;
  margin: 0 auto;
}

main .TableContents {
  margin-top: 2rem;
}

main .TableContents h2 {
  margin-bottom: 0.8rem;
}

main .TableContents table {
  background: var(--color-white);
  width: 100%;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

main .TableContents table:hover {
  box-shadow: none;
}

main table tbody td {
  height: 2.8rem;
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark-variant);
}

main table tbody tr:last-child td {
  border: none;
}

main table thead th {
  width: 1rem;
}

.main .TableContents a {
  display: block;
  margin-top: 1rem;
  color: var(--color-primary);
}

.searchBarcode input {
  font-size: 17px;
  background: var(--color-white);
  color: var(--color-dark);
  border-radius: var(--border-radius-1);
  padding: 5px;
  margin-bottom: 5px;
}

.searchBarcode span {
  font-size: 16px;
  color: var(--color-dark);
}

.searchBarcode button {
  background: var(--color-white);
  color: var(--color-dark);
  border-radius: var(--border-radius-1);
  padding: 6px;
}

.circle-icon {
  background: #03dac6;
  color: var(--color-white);
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding: 1rem;
  font-size: 2.3rem;
  cursor: pointer;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 60px;
  right: 40px;
  color: #fff;
}

.circle-icon {
  align-items: center;
  appearance: none;
  background: #03dac6;
  color: var(--color-white);
  border-radius: 50%;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  font-size: 2.3rem;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.circle-icon:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.circle-icon:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.circle-icon:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

main .TableContents {
  margin-top: 2rem;
}

main .TableContents h2 {
  margin-bottom: 0.8rem;
}

main .TableContents table {
  background: var(--color-white);
  width: 100%;
  height: 20%;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

main .TableContents table:hover {
  box-shadow: none;
}

main table tbody td {
  height: 2.8rem;
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark-variant);
}

main table tbody tr:last-child td {
  border: none;
}

main table thead th {
  width: 1rem;
}

main .TableContents a {
  display: block;
  margin-top: 1rem;
  color: var(--color-primary);
}

@media screen and (max-width: 768px) {
  .transDetails {
    width: 90%;
  }
}
