.slider.round {
  border-radius: 16px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff7782;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #41f1b6;
}

input:focus + .slider {
  box-shadow: 0 0 1px #41f1b6;
}

input:checked + .slider:before {
  transform: translateX(19px);
}

.userContainer {
  display: grid;
  grid-template-columns: 55% 45%;
  gap: 10px;
}

.userContainer input {
  margin-bottom: 10px;
}

.img {
  height: 20rem;
  width: 100%;
  background-color: white;
  display: none;
  object-fit: cover;
}

.role {
  display: flex;
  justify-content: center;
}

.role select {
  height: 30px;
  padding: 5px;
}

.imageHolder {
  text-align: center;
  padding: 3%;
  border: thin solid black;
  height: 20rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="file"] {
  display: none;
}

label {
  cursor: pointer;
}

#switch-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.active-text {
  margin-right: 0.5rem;
  font-size: 1rem;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 60px;
  right: 40px;
  color: #fff;
}

.circle-icon {
  align-items: center;
  appearance: none;
  background: #03dac6;
  color: var(--color-white);
  border-radius: 50%;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  font-size: 2.3rem;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.circle-icon:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.circle-icon:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.circle-icon:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

main .TableContents {
  margin-top: 2rem;
}

main .TableContents h2 {
  margin-bottom: 0.8rem;
}

main .TableContents table {
  background: var(--color-white);
  width: 100%;
  height: 20%;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

main .TableContents table:hover {
  box-shadow: none;
}

main table tbody td {
  height: 2.8rem;
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark-variant);
}

main table tbody tr:last-child td {
  border: none;
}

main table thead th {
  width: 1rem;
}

main .TableContents a {
  display: block;
  margin-top: 1rem;
  color: var(--color-primary);
}

.adduserform {
  width: 55%;
}

@media screen and (max-width: 768px) {
  .userContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .adduserform .form-container {
    height: 30rem;
    overflow-y: auto;
  }

  .adduserform {
    min-width: 25rem;
    width: 70%;
  }

  .adduserform .form-buttons {
    width: 100%;
  }

  .adduserform .form-buttons button {
    width: 100%;
    margin-bottom: 5px;
  }
}
